.brojKomentara {
  display: none !important;
}

.brojShareova {
  width: 100% !important;
}

.komentariCont {
  display: none;
}

.comments {
  display: none !important;
}

.share.km {
  display: none !important;
}

.share.fb {
  float: left !important;
}
